@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-display: var(--font-poppins);
}

body {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

a,
button,
[role="button"] {
  transition: all 0.2s ease;
  cursor: pointer;
}
